body {
  display: grid;
  width: 400px;
  margin-left: 10px;
}
main {
  width: 400px;
  margin-left: 20px;
}

/* header nav  */
header {
  width: 400px;
  margin-left: 10px;
}
nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 100%;
}
.nav-menu {
  display: none;
}
.nav-logo {
  height: 30px;
}

/* First section */

section .advert {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
section img {
  position: relative;
  width: 200px;
  overflow: auto;
}
h5 {
  color: #ff3998;
  font-size: 9px;
  letter-spacing: 0.5px;
  font-family: sans-serif;
}
h1 {
  font-size: 40px;
  font-family: "Inter", sans-serif;
}
section p,
footer p {
  display: flex;
  flex-wrap: wrap;
  color: gray;
  font-family: sans-serif;
  font-size: 12px;
}

h1,
h5,
h2,
p,
button {
  margin: 0;
  margin-bottom: 15px;
}

/* mid nav */
.mid-nav img {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
}
.mid-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  width: 400px;
  margin: 20px;
}
.mid-nav a:nth-child(4) {
  display: none;
}

/* second section */
section {
  margin-bottom: 50px;
}
.choise-menu {
  border-top-width: thin;
  border-bottom-style: solid;
  border-color: rgba(128, 128, 128, 0.233);
}
.choises,
.choise-price {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 0;
}
.choises img {
  width: 300px;
}

.prices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 300px; /*neveikia*/
  font-size: 12px;
  background-color: rgba(182, 181, 181, 0.158);
  margin-bottom: 50px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.top {
  font-size: 12px;
  color: orange;
}
.top-r {
  font-size: 12px;
}
p img {
  width: 12px;
}

.mid,
.mid-r {
  font-size: 18px;
  color: black;
}
.id,
.id-r {
  font-size: 15px;
}

.top,
.top-r,
.mid,
.mid-r,
.id,
.id-r {
  margin: 3px;
  font-family: sans-serif;
  letter-spacing: 0.1px;
  margin-left: 10px;
  margin-right: 10px;
}

.top-r,
.mid-r,
.id-r {
  text-align: right;
}
h3 {
  font-size: 40px;
  font-family: "inter", sans-serif;
  letter-spacing: 1px;
}

/* third section */
.bottom-advert {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  border-top-width: thin;
  border-bottom-style: solid;
  border-color: rgba(128, 128, 128, 0.233);
}

.footer-img {
  height: 250px;
}
h2 {
  font-size: 30px;
  font-family: "inter", sans-serif;
}

/* footer */
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 10px;
}
footer {
  display: grid;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 50px;
}
footer a {
  text-decoration: none;
  display: block;
  color: gray;
  margin-top: 5px;
  font-family: "inter" sans-serif;
}
aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(128, 128, 128, 0.747);
  font-size: 16px;
  margin-bottom: 40px;
}
.gone {
  display: none;
}

.multimedia-icons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 10px;
}

footer p {
  margin-top: 10px;
}

button {
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  width: 130px;
  border-color: #ff3998;
  margin-top: 15px;
}

.logo {
  height: 30px;
}
h6 {
  font-size: 16px;
  margin-bottom: 10px;
}
