nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  margin-bottom: 50px;
}

nav a {
  text-decoration: none;
  color: grey;
  margin-left: 15px;
}
nav a:last-child {
  text-decoration: none;
  color: #ff3998;
}

.advert {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
section img {
  width: 350px;
}
h6 {
  color: #ff3998;
}
section h1 {
  font-size: 60px;
  font-family: sans-serif;
}
section p {
  color: gray;
}
button {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  width: 100px;
  border-color: #ff3998;
}

/* midnavlinks */
.mid-nav img {
  width: 100px;
  height: 50px;
}
.mid-nav a {
  justify-content: space-between;
}
